<aside id="sidebar" data-grid-column="4">
  <nav data-navigation-type="vertical">
    <ul>
      <li>
        <h5 data-menu-type="section-header">Basic Styles</h5>
        <ul>
          <li><a href="/components/grid.html">The Grid</a></li>
          <li><a href="/components/typography.html">Typography</a></li>
          <li><a href="/components/media.html">Media Queries</a></li>
          <li><a href="/components/buttons.html">Buttons</a></li>
          <li><a href="/components/forms.html">Forms</a></li>
          <li><a href="/components/navigation.html">Navigation</a></li>
          <li><a href="/components/tabs.html">Tabs</a></li>
          <li><a href="/components/elements.html">Elements</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>