<aside id="sidebar" data-grid-column="4">
  <nav data-navigation-type="vertical">
    <ul>
      <li>
        <h5 data-menu-type="section-header">Basic Styles</h5>
        <ul>
          <li><%= link_to "The Grid", "/components/grid.html",  relative: true %></li>
          <li><%= link_to "Typography", "/components/typography.html", relative: true %></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>