//
// Important numbers
//

$grid-width:         1140px !default;
$grid-columns:       16    !default;
$grid-column-gutter: 20px  !default;

$font-size:          16px  !default;
$line-height:        1.5   !default;