@charset "utf-8";

@font-face {
    font-family: 'archiveregular';
    src: url('../fonts/archive-webfont.eot');
    src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archive-webfont.woff') format('woff'),
         url('../fonts/archive-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  color :#727272;
}

* {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'archiveregular';
  font-weight: normal;
}

#logo {
  display: block;
  text-align: center;
  height: 3em;

  img {
    height: 3em;
  }

  h1 {
    font-size: 172px;  
    margin-bottom: 0.2em;
    line-height: 120px;
    margin-top: 1em;

    .part-1 {
      color: #FF6600;
    }
    .part-2 {
      color: #7CB490;
    }
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #ccc;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: #ccc;

  &:hover {
    color: #7CB490;
  }
}

#main-menu {
  text-align: center;
  margin-top: 10em;
  font-size: 15px;
}

.sample {

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif !important;  
    font-weight: 600;
  }
  
    [data-grid-column] {
      position: relative;

      &.code {
        font-family: 'Droid Sans Mono', sans-serif;
        text-align: center;
        color: #727272;

        .inner {
          background-color: #ededed;
        }                

        &:hover .inner{
          background-color: #FF6600;
          color: white;
        }
      }

    }
  
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .sample {
    [data-grid-column] {
      border-left: none;
      border-right: none;
    }
  }
}