.container {
  margin: 0 $body-margin;
  color: #727272;
  font-size: 13px;
}

.c16 {
  @include grid(16);
}

.c12 {
  @include grid(12);
}

.c8 {
  @include grid(8);
}

.c4 {
  @include grid(4);
}

.row {
  margin-bottom: 20px;
}

.sample {
  @for $i from 1 through 16 {
    .g#{$i} { 
      background: #ededed;
      padding: 5px;
      border: 5px solid white;

      &.code {
        font-family: 'Droid Sans Mono', sans-serif;
      }      
    }
  }
}