@mixin grid($size) {
  @for $i from 1 through $size {
    .g#{$i}, .g1_3 { 
      width: 100% / $i;
      display: inline-block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }

  .g1_3 {
    width: 100% / 3;
  }
}