hgroup#logo
  h1#main-title
    span.part-1 Art
    span.part-2 work
  h2#tag-line Framework For Rapid UI Prototyping

nav#main-menu
  ul.inline
    li: a href="/" Home
    li: a href="/docs" Documentation
    li: a href="http://github.com/devilcoders/artwork" Github